@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/**
 * Base off a 12px base as the mid size
 * all other sizes are multiples or divisions of 12px
 * xs - 12px / 3 = 4px
 * s - 6px
 * m - 12px
 * l - 12px * 1.5 = 18px
 * xl - 12px * 2 = 24px
 */
.ruinspark {
  font-family: "Roboto", sans-serif;
  --rs-padding: 12px;
  --rs-margin: 12px;
  --rs-gap: 12px;
  --rs-border: 2px groove #eeede0;
  --rs-border-radius: 12px;
  --rs-size-xxs: 3px;
  --rs-size-xs: 4px;
  --rs-size-s: 6px;
  --rs-size-m: 12px;
  --rs-size-l: 18px;
  --rs-size-xl: 24px;
  --rs-size-xxl: 30px;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.roboto-serif {
  font-family: "Roboto", serif;
}

.gap-xs {
  gap: 4px;
}

.gap-s {
  gap: 6px;
}

.gap-m {
  gap: 12px;
}

.gap-l {
  gap: 18px;
}

.gap-xl {
  gap: 24px;
}

.pad-xs {
  --rs-padding: 4px ;
}

.pad-s {
  --rs-padding: 6px ;
}

.pad-m {
  --rs-padding: 12px ;
}

.pad-l {
  --rs-padding: 18px ;
}

.pad-xl {
  --rs-padding: 24px ;
}

.pad-left {
  padding-left: var(--rs-padding);
}

.pad-right {
  padding-right: var(--rs-padding);
}

.pad-top {
  padding-top: var(--rs-padding);
}

.pad-bottom {
  padding-bottom: var(--rs-padding);
}

.pad-vertical {
  padding: var(--rs-padding) 0;
}

.pad-horizontal {
  padding: 0 var(--rs-padding);
}

.pad-all {
  padding: var(--rs-padding);
}

.marg-xs {
  --rs-margin: 4px ;
}

.marg-s {
  --rs-margin: 6px ;
}

.marg-m {
  --rs-margin: 12px ;
}

.marg-l {
  --rs-margin: 18px ;
}

.marg-xl {
  --rs-margin: 24px ;
}

.marg-left {
  margin-left: var(--rs-margin);
}

.marg-right {
  margin-right: var(--rs-margin);
}

.marg-top {
  margin-top: var(--rs-margin);
}

.marg-bottom {
  margin-bottom: var(--rs-margin);
}

.marg-vertical {
  margin: var(--rs-margin) 0;
}

.marg-horizontal {
  margin: 0 var(--rs-margin);
}

.marg-all {
  margin: var(--rs-margin);
}

/* Global styles */
.window-app {
  font-family: "Roboto", sans-serif;
}

.rollable:hover, .rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2/span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3/span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4/span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5/span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 6/span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7/span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8/span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9/span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10/span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11/span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12/span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-start-2 {
  grid-column-start: 2;
}

.grid-start-3 {
  grid-column-start: 3;
}

.grid-start-4 {
  grid-column-start: 4;
}

.grid-start-5 {
  grid-column-start: 5;
}

.grid-start-6 {
  grid-column-start: 6;
}

.grid-start-7 {
  grid-column-start: 7;
}

.grid-start-8 {
  grid-column-start: 8;
}

.grid-start-9 {
  grid-column-start: 9;
}

.grid-start-10 {
  grid-column-start: 10;
}

.grid-start-11 {
  grid-column-start: 11;
}

.grid-start-12 {
  grid-column-start: 12;
}

.grid-span-2 {
  grid-column-end: span 2;
}

.grid-span-3 {
  grid-column-end: span 3;
}

.grid-span-4 {
  grid-column-end: span 4;
}

.grid-span-5 {
  grid-column-end: span 5;
}

.grid-span-6 {
  grid-column-end: span 6;
}

.grid-span-7 {
  grid-column-end: span 7;
}

.grid-span-8 {
  grid-column-end: span 8;
}

.grid-span-9 {
  grid-column-end: span 9;
}

.grid-span-10 {
  grid-column-end: span 10;
}

.grid-span-11 {
  grid-column-end: span 11;
}

.grid-span-12 {
  grid-column-end: span 12;
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-group-left {
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  justify-content: flex-end;
  text-align: right;
}

.flexshrink {
  flex: 0;
}

.flex-between {
  justify-content: space-between;
}

.flexlarge {
  flex: 2;
}

.flex {
  flex: 1;
}

.align-left {
  justify-content: flex-start;
  text-align: left;
}

.align-right {
  justify-content: flex-end;
  text-align: right;
}

.align-center {
  justify-content: center;
  text-align: center;
}

.item-form {
  font-family: "Roboto", sans-serif;
}

.sheet.actor {
  overflow: visible;
}
.sheet.actor .window-header {
  border-radius: 6px 6px 0 0;
}
.sheet.actor .window-content {
  border-radius: 0 0 6px 6px;
  overflow: auto;
  min-height: 400px;
}
.sheet.actor:hover .sheet-bookmarks .bookmark {
  background-color: var(--control-hover-bg-color, rgb(0, 0, 0));
}
.sheet.actor .sheet-bookmarks {
  display: flex;
  flex-direction: column;
  gap: 0;
  border: none;
  position: absolute;
  left: 100%;
  top: 36px;
  align-items: flex-start;
  text-shadow: 0 0 0 rgba(252, 205, 119, 0);
}
.sheet.actor .sheet-bookmarks .bookmark {
  display: flex;
  box-sizing: border-box;
  border-radius: 0 5px 5px 0;
  background-color: var(--control-bg-color, rgba(0, 0, 0, 0.3));
  transition: all 200ms ease;
  width: 2rem;
  height: 2rem;
  text-align: center;
  align-items: center;
  justify-items: center;
}
.sheet.actor .sheet-bookmarks .bookmark:hover, .sheet.actor .sheet-bookmarks .bookmark.active {
  width: 3rem;
  height: 3rem;
  border-color: #342c35;
}
.sheet.actor .sheet-bookmarks .bookmark.active {
  border-color: #524953;
  background-color: #16151b;
}
.sheet.actor .sheet-bookmarks .bookmark.active > * {
  text-shadow: 0 0 0.5em rgba(252, 205, 119, 0.5);
}
.sheet.actor.minimized .sheet-bookmarks, .sheet.actor.minimizing .sheet-bookmarks {
  display: none;
}

.sheet-header {
  flex: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--color-light-5, rgb(155, 131, 99));
}
.sheet-header .profile-img {
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
  object-fit: cover;
  object-position: top center;
}
.sheet-header .header-fields {
  flex: 1;
}
.sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}
.sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}

.sheet-tabs {
  flex: 0;
}

.sheet-body,
.sheet-body .tab,
.sheet-body .tab .editor {
  height: 100%;
}

.tox .tox-editor-container {
  background: #fff;
}
.tox .tox-edit-area {
  padding: 0 8px;
}

.resource-label {
  font-weight: bold;
}

.items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}
.items-header > * {
  font-size: 14px;
  text-align: center;
}
.items-header .item-name {
  font-weight: bold;
  padding-left: 5px;
  text-align: left;
  display: flex;
}

/* ----------------------------------------- */
/*  Items Lists                              */
/* ----------------------------------------- */
.items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: #444;
}
.items-list .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.items-list .item-name {
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  align-items: center;
  display: flex;
}
.items-list .item-name h3, .items-list .item-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}
.items-list .item-controls {
  display: flex;
  flex: 0 0 100px;
  justify-content: flex-end;
}
.items-list .item-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 6px;
}
.items-list .item {
  align-items: center;
  padding: 0 2px;
  border-bottom: 1px solid #c9c7b8;
}
.items-list .item:last-child {
  border-bottom: none;
}
.items-list .item .item-name {
  color: #191813;
}
.items-list .item .item-name .item-image {
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}
.items-list .item-prop {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.items-list .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}
.items-list .items-header > * {
  font-size: 12px;
  text-align: center;
}
.items-list .items-header .item-name {
  padding-left: 5px;
  text-align: left;
}

/* Example style for Ruinspark (can be removed if not needed) */
.item-formula {
  flex: 0 0 200px;
  padding: 0 8px;
}

.effects .item .effect-source,
.effects .item .effect-duration,
.effects .item .effect-controls {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.effects .item .effect-controls {
  border: none;
}

/*# sourceMappingURL=ruinspark.css.map */
