<div class="rs-tab-content rs-tab-journal flexcol flex pad-none" style="min-height: 600px;">
    <prose-mirror class="flex" name="system.description.value" value="{{editors.description.value}}" editable="false" toggled>
        {{{editors.description.enriched}}}
    </prose-mirror>
</div>