<div class="rs-tab-content rs-tab-magic flexcol flex-gap-m pad-none">
    <div class="flexcol">
        <div>{{localize 'RUINSPARK.Generic.ManaPoints'}}</div>
        <input type="number" name="system.mp.value" value="{{system.mp.value}}" placeholder="0">
    </div>
</div>