<div class="rs-tab-content rs-tab-magic flexcol flex-gap-m pad-none">
    <div class="flexrow">
        <div class="flexcol">
            <div>{{localize 'RUINSPARK.Generic.Mana'}}</div>
            <div class="flexrow">
                <input type="number" name="system.mp.value" value="{{system.mp.value}}" placeholder="0">
                <span class="align-center">/</span>
                <input type="number" name="system.mp.max" value="{{system.mp.max}}" placeholder="0">
            </div>
        </div>
        <div></div>
    </div>
</div>