{{#each tabs}}
    <div class="{{tabCssClass}} flex flexcol" data-group="{{group}}" data-tab="{{id}}">
        <div class="rs-tab-content" data-application-part="{{id}}">

        </div>
    </div>
{{/each}}